In [1]:
import pymysql

In [2]:
ccnn = pymysql.connect(host='localhost',user='root',password='QQis935499957',database='homwork')

In [3]:
cursor=ccnn.cursor()

In [4]:
cursor.execute("CREATE TABLE QG(id int,name VARCHAR(20))")

0

In [5]:
a="INSERT INTO QG VALUES(1,'SHUGANG'),(2,'YANGGANG'),(3,'GUIJIA'),(4,'WEILE'),(5,'JIONGCHEN'),(6,'HENGTING')"

In [6]:
cursor.execute(a)

6

In [7]:
AB=cursor.execute("SELECT * FROM QG")

In [8]:
print(cursor.fetchall())

((1, 'SHUGANG'), (2, 'YANGGANG'), (3, 'GUIJIA'), (4, 'WEILE'), (5, 'JIONGCHEN'), (6, 'HENGTING'))

In [9]:
AB="UPDATE QG SET id=9 where name='SHUGANG'"

In [10]:
cursor.execute(AB)

1

In [14]:
print(cursor.fetchall())

((9, 'SHUGANG'), (2, 'YANGGANG'), (3, 'GUIJIA'), (4, 'WEILE'), (5, 'JIONGCHEN'), (6, 'HENGTING'))

In [15]:
cursor.execute("INSERT INTO QG VALUES(0,'LIANGZHAI')")

1

In [16]:
cursor.execute("SELECT * FROM QG ORDER BY id")

7

In [17]:
print(cursor.fetchall())

((0, 'LIANGZHAI'), (2, 'YANGGANG'), (3, 'GUIJIA'), (4, 'WEILE'), (5, 'JIONGCHEN'), (6, 'HENGTING'), (9, 'SHUGANG'))

In [19]:
cursor.execute("DELETE FROM QG WHERE id=0")

1

In [21]:
AB=cursor.execute("SELECT * FROM QG")

In [22]:
print(cursor.fetchall())

((9, 'SHUGANG'), (2, 'YANGGANG'), (3, 'GUIJIA'), (4, 'WEILE'), (5, 'JIONGCHEN'), (6, 'HENGTING'))

In [23]:
ccnn.commit()

In [24]:
cursor.close()